# Virtual environments
vname/
venv/
env/

# Python cache
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Operating System files
.DS_Store
Thumbs.db

# Model and log files (optional)
*.log
